<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="ConnectionString" connectionString="server=192.168.1.192;database=Permission;uid=sa;pwd=123123" />
  </connectionStrings>
  <appSettings>
    <add key="ModelsFilePath" value="./Models/" />
    <add key="DALFilePath" value="./DAL/" />
  </appSettings>
</configuration>